body{
    font-family: 'Roboto', sans-serif;
    width: 1600px;
    margin: auto;
}
footer{
    background-color: #3f8dbf;
}
.header-container {
    display: flex;
    width: 1170px;
    height: 123px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    color: #4e4e4e;
}
#header-title{
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 40px;
}
.navbar-list {
    display: flex;
}
.navbar-list .item {
    text-transform: uppercase;
    list-style-type: none;
    margin-left: 20px;
    font-size: 16px;
    line-height: 35px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
}
#header-title-link{
    text-decoration: none;
    color: #616161;
}
.item-link{
    text-decoration: none;
    color: #616161;
}
.item-link:hover{
    color: #1abb9c;
}
.article-container {
    display: flex;
    flex-flow: column wrap;
}
.sidebar {
    background: url("../images/photo1.gif");
    margin: auto;
    height: 600px;
    width: 1600px;
    display: flex;
}
.sidebar-container {
    display: flex;
    margin: auto;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 200px;
    align-items: center;
}
#sidebar-button {
    background-color: #3f8dbf;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border: none;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 0 #3678a3;
}
#sidebar-button:active {
    background-color: #3678a3;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border: none;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 0 #3678a3;
}
#sidebar-mainText {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    color: #f3f3f3;
    font-size: 40px;
    line-height: 35px;
    margin: 0;
}
#sidebar-additionalText {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 32px;
    color: #a8a8a8;
    line-height: 35px;
}
#service {
    width: 1170px;
    display: flex;
    margin: 60px auto;
    justify-content: space-around;
}
.service-column {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 235px;
}
.icon {
    width:  94px;
    height: 90px;
    background: url("../images/task_sprite.png") no-repeat;
}
#service-icon-two {
    background-position: 0 -92px;
}
#service-icon-three {
    background-position: 0 -184px;
}
#service-icon-four {
    background-position: 0 -276px;
}
.service-title {
    box-sizing: border-box;
    margin: 15px 0;
    font-size: 18px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 600;
    color: #4e4e4e;
}
.service-text {
    color: #616161;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
.line {
    display: block;
    color: #a8a8a862;
    height: 2px;
    width: 1170px;
    margin: auto;
}
.latest-works {
    width: 1170px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.work-column {
    width: 380px;
}
.work-icon {
    margin: 0 auto;
    width: 380px;
    height: 279px;
}
#work-column-one .work-icon {
    background: url("../images/latest_work_01.jpg") no-repeat;
}
#work-column-two .work-icon {
    background: url("../images/latest_work_02.jpg") no-repeat;
}
#work-column-three .work-icon {
    background: url("../images/latest_work_03.jpg") no-repeat;
}
.latest-work-title {
    display: block;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
    color: #4e4e4e;
    font-size: 18px;
    margin: 23px 0 0 0;
}
.latest-works .tags{
    display: block;
    font-family: "Roboto Slab", sans-serif;
    color: #a8a8a8;
    font-size: 13px;
    margin: 10px 0 20px 0;
}
.latest-works .description {
    height: 175px;
}
.latest-works .text {
    font-size: 14px;
    line-height: 28px;
    color: #5c5c5c;
}
#latest-works {
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    color: #4e4e4e;
    font-size: 18px;
    line-height: 35px;
    margin: 60px auto 24px auto;
    width: 1170px;
}
.testimonial-section {
}
.testimonial-text{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #b5b5b5;
    margin: 0;
}
.testimonial-container .icon{
    background-position: 0 -368px;
    width:  42px;
    height: 30px;
    margin-bottom: 30px;
}
.testimonial-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: #efefef;
    width: 1600px;
    height: 230px;
}
#footer-container {
    background-color: #1e1e1e;
    color: #cacaca;
    font-size: 14px;
    line-height: 24px;
}
#footer-columns {
    display: flex;
    width: 1170px;
    margin: auto;
    justify-content: space-between;
}
#footer-columns .column {
    width: 25%;
    margin-top: 50px;
    text-align: left;
    margin-right: 40px;
}
#footer-columns .column span{
   display: block;
}
#footer-columns .column:last-child {
    margin-right: 0;
}
#footer-columns .column-title {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;;
    font-weight: 600;
    font-size: 18px;
    color: #6c6c6c;
    margin: 0 0 25px 0;
}
#contacts {
    margin-top: 35px;
    position: relative;
}
#contacts a{
    text-decoration: none;
    color: #cacaca;
}
#location .icon {
    background-position: -56px -378px;
}
#telephone .icon {
    background-position: -72px -368px;
}
#email .icon {
    background-position: -58px -366px;
}
#contacts .icon {
    position: absolute;
    margin-top: 5px;
    width: 12px;
    height: 12px;
}
#contacts .text {
    margin-left: 25px;
    font-style: normal;
}
.column .column-text {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 30px 0;
    padding: 0;
}
.twitter-post {
    position: relative;
}
#twitter .icon {
    position: absolute;
    width: 12px;
    height: 12px;
    background-position: -45px -366px;
    margin-top: 5px;
}
#twitter .text {
    margin: 0 0 34px 25px;
}
.date {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 30px;
    font-family: 'Roboto Slab', sans-serif;
}
#footer-container .line {
    padding: 20px 0 0 0;
    clear: both;
    color: #cacaca;
}
#copyright {
    display: block;
    width: 1170px;
    margin: auto;
    padding: 50px 0;
    font-size: 14px;
}