body {
    width: 1600px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
.navbar-list .item{
    text-transform: uppercase;
    list-style-type: none;
    display: inline;
    font-size: 16px;
    line-height: 35px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    margin-left: 20px;
}
#header-title-link{
    text-decoration: none;
    color: #616161;
}
.item-link{
    text-decoration: none;
    color: #616161;
}
.item-link:hover{
    color: #1abb9c;
}
.header-container {
    position: relative;
    height: 123px;
    color: #4e4e4e;
}
.header-description {
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-left: 215px;
    line-height: 65px;
}
.navbar-container {
    margin-right: 215px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}
.about {
    background: url("../../images/photo1.gif") no-repeat;
    width: 100%;
    height: 600px;
    position: relative;
}
.about-container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.about-container span, h1{
    margin-bottom: 45px;
}
.about-mainText {
    display: block;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    color: #f3f3f3;
    font-size: 40px;
    line-height: 35px;
}
.about-additionalText {
    display: block;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 32px;
    color: #a8a8a8;
    line-height: 35px;
}
#about-button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: #3f8dbf;
    border: none;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 0 #3678a3;
}
#about-button:active{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: #3678a3;
    border: none;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
}
.columns-container {
    width: 1170px;
    margin: 60px auto;
}
.column-one, .column-two, .column-three, .column-four {
    float: left;
    text-align: center;
    width: 25%;
}
.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:  94px;
    height: 90px;
    background: url("../../images/task_sprite.png") no-repeat;
}
.column-one .icon {
    background-position: 0 0;
}
.column-two .icon {
    background-position: 0 -92px;
}
.column-three .icon {
    background-position: 0 -184px;
}
.column-four .icon {
    background-position: 0 -276px;
}
.column-title {
    display: block;
    box-sizing: border-box;
    margin: 15px 0 15px 0;
    font-size: 18px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 600;
    color: #4e4e4e;
}
.columns-container .column-text {
    color: #616161;
    padding: 0 10px;
    font-size: 14px;
    line-height: 24px;
}
.line {
    display: block;
    clear: both;
    padding: 60px 0;
    color: #a8a8a862;
    height: 2px;
}
.work-column-one, .work-column-two, .work-column-three{
    float: left;
    width: 380px;
    margin-left: 15px;
}
.latest-works .tags{
    display: block;
    font-family: "Roboto Slab", sans-serif;
    color: #a8a8a8;
    font-size: 13px;
    margin: 12px 0 20px 0;
}
.latest-works .description {
    height: 175px;
}
.work-column-one {
    margin-left: 0;
}
.work-icon {
    margin: 0 auto;
    width: 380px;
    height: 279px;
}
.work-column-one .work-icon {
    background: url("../../images/latest_work_01.jpg") no-repeat;
}
.work-column-two .work-icon {
    background: url("../../images/latest_work_02.jpg") no-repeat;
}
.work-column-three .work-icon {
    background: url("../../images/latest_work_03.jpg") no-repeat;
}
.latest-works .title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    color: #4e4e4e;
    font-size: 18px;
    line-height: 35px;
    margin: 0 0 24px 0;
}
.latest-works .column-title {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
    color: #4e4e4e;
    font-size: 18px;
    margin: 23px 0 0 0;
    padding: 0;
}
.latest-works .text {
    font-size: 14px;
    line-height: 28px;
    color: #5c5c5c;
}
.testimonial-section {
    margin: 0 auto;
    height: 230px;
    background-color: #efefef;
    clear: both;
    position: relative;
}
.testimonial-section .text{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #b5b5b5;
}
.testimonial-container .icon{
    background-position: 0 -368px;
    width:  42px;
    height: 30px;
    margin-bottom: 30px;
}
.testimonial-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 750px;
}
.testimonial-text{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #b5b5b5;
}
#footer {
    background-color: #1e1e1e;
}
.footer-container {
    width: 1170px;
    margin: auto;
    color: #cacaca;
    font-size: 14px;
    line-height: 24px;
}
.footer-container .icon {
    margin-top: 5px;
}
.footer-container .column{
    float: left;
    width: 25%;
    margin-top: 50px;
    text-align: left;
    padding: 0 20px;
    box-sizing: border-box;
}
.footer-container .column span{
    display: block;
}
.footer-container .column:last-child{
    padding-right: 0;
}
.footer-container .column:first-child{
    padding-left: 0;
}
.footer-container .column-title {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #6c6c6c;
    margin: 0 0 25px 0;
}
#contacts {
    margin-top: 35px;
}
#location .icon {
    background-position: -56px -378px;
}
#telephone .icon {
    background-position: -72px -368px;
}
#contacts a{
    text-decoration: none;
    color: #cacaca;
}
#email .icon {
    background-position: -58px -366px;
}
#contacts .icon {
    float: left;
    width: 12px;
    height: 12px;
}
#contacts .text {
    margin-left: 25px;
    font-style: normal;
}
.column .column-text {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 30px 0;
    padding: 0;
}
#twitter .icon{
    float: left;
    width: 12px;
    height: 12px;
    background-position: -45px -366px;
}
#twitter .text{
    margin-left: 25px;
    margin-bottom: 34px;
}
.footer-container .line {
    padding: 20px 0 0 0;
    clear: both;
    color: #cacaca;
}
.date {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 30px;
    font-family: 'Roboto Slab', sans-serif;
}
#copyright {
    display: block;
    padding: 50px 0;
    font-size: 14px;
}